<div class="wrapper">
  <div class="filter-wrapper">
    <mat-form-field>
      <mat-label>Poziom zaawansowania</mat-label>
      <mat-select name="levelString" [(value)]="selectedLevel">
        <mat-option *ngFor="let activityLevel of activityLevels" (click)="filterActivities()" [value]="activityLevel.code">{{activityLevel.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Styl tańca</mat-label>
      <mat-select name="typeString" [(value)]="selectedType">
        <mat-option *ngFor="let activityType of activityTypes" (click)="filterActivities()" [value]="activityType.code">{{activityType.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="clearFilters()">Wyczyść filtry</button>
  </div>
  <div class="cards-wrapper">
    <mat-card *ngFor="let element of activities" class="activity-card">
      <mat-card-header>
        <mat-card-title>{{element.type}}</mat-card-title>
        <mat-card-subtitle>{{element.level}}</mat-card-subtitle>
      </mat-card-header>
      <div class="info-section">
        <img mat-card-image src={{element.image}} alt={{element.alt}}>
        <mat-card-content>
          <p>{{element.description}}</p>
        </mat-card-content>
    </div>
    </mat-card>
  </div>
</div>

