mat-card {
  max-width: 500px;
  margin: 8em auto;
  text-align: center;
}

.map-container {
  max-width: 600px;
  display: flex;
  justify-content: center
}

.card-header {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.facebook-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
mat-icon {
  font-size: 1.7rem;
}
.contact-data-phone{
  font-size: 2rem;
  margin: 1em 0;
  font-weight: bold;
}
.contact-data {
  margin-bottom: 0.7em;
  font-size: 1.3rem;
}
.phone-icon{
  font-size:3.5rem;
}
