<div class="wrapper">
  <div class="filter-wrapper">
    <mat-form-field>
      <mat-select name="levelString" [(value)]="selectedLevel" placeholder="Level">
        <mat-option (click)="sortLevel()" [value]="'Z'">Zaawansowany</mat-option>
        <mat-option (click)="sortLevel()" [value]="'P'">Początkujący</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select name="typeString" [(value)]="selectedType" placeholder="Type">
        <mat-option (click)="sortType()" [value]="'T'">Tango</mat-option>
        <mat-option (click)="sortType()" [value]="'S'">Salsa</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <div *ngFor="let element of array" class="list-item">
      <div class="image-container">
        <img class="image" src={{element.image}} alt={{element.alt}}>
      </div>
      <div class="info-section">
        <div class="types">
          <div class="text">{{element.type}}</div>
          <div class="text">{{element.level}}</div>
        </div>
        <div class="info">
          {{element.description}}
        </div>
      </div>
    </div>
  </div>
</div>

