.button-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container div {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
button {
  font-size: 1.2rem;
  display: flex;
  align-content: center;
}
span {
  margin-left: 0.3em;
}
.active_route{
  display: inline-block;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}
