<mat-toolbar>
  <span>Dance school</span>
  <div class="button-container">
    <div>
      <button mat-button color="accent" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-button color="accent">
        <mat-icon>notifications</mat-icon>
        Aktualności
      </button>
      <button mat-button color="accent">
        <mat-icon>calendar_today</mat-icon>
        Grafik
      </button>
      <button mat-button color="accent">
        <mat-icon>assignment_turned_in</mat-icon>
        Zajęcia
      </button>
      <button mat-button color="accent">
        <mat-icon>account_box</mat-icon>
        Instruktorzy
      </button>
      <button mat-button color="accent" [routerLink]="'contact'">
        <mat-icon>call</mat-icon>
        Kontakt
      </button>
    </div>
  </div>
</mat-toolbar>
<ng-content></ng-content>
