<mat-toolbar>
  <span>Dance school</span>
  <div class="button-container">
    <div>
      <button mat-button color="accent" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button color="accent" [routerLink]="['news']">
        <mat-icon>notifications</mat-icon>
        <span>Aktualności</span>
      </button>
      <button mat-button color="accent">
        <mat-icon>calendar_today</mat-icon>
        <span>Grafik</span>
      </button>
      <button mat-button color="accent" [routerLink]="'activities'">
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Zajęcia</span>
      </button>
      <button mat-button color="accent" [routerLink]="'list_instructors'">
        <mat-icon>account_box</mat-icon>
        <span>Instruktorzy</span>
      </button>
      <button mat-button color="accent" [routerLink]="'contact'">
        <mat-icon>call</mat-icon>
        <span>Kontakt</span>
      </button>
    </div>
  </div>
</mat-toolbar>
<ng-content></ng-content>
