.schedule-table-box {
  background: #424242;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

table {
  width: 100%;
}

h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0 50px;
  color: rgba(255,255,255,.7);
}

.right-align {
  text-align: right;
}
th {
  font-size: 16px;
  font-weight: 500;

}
